<style>
    /* TELA DE LOGIN CSS */


    .div-login-all {
        position: absolute;
        left: 35%;
        top: 30%;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        background-color: #CE2501;
        width: 600px;
        height: 579px;
        border-radius: 20px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    }

    #div-login input {
        border: none;
        width: 500px;
        height: 80px;
        border-radius: 10px;
    }

    #div-login button {
        width: 133px;
        height: 68px;
        background-color: #FFC222;
        color: white;
        border-radius: 10px;
        border: none;
        font-size: 24px;
        font-weight: 600;
    }

    #div-login ::placeholder {
        color: #C5C5C5;
        font-weight: 600;
        padding-left: 10px;
        opacity: 1;
    }
</style>


<div class="div-login-all text-center">
    <div class="p-5">
        <svg id="logo-main" width="120px" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <title>Logo AU</title>
            <path
                d="M83.14,126.08c1.42-22.78.21-52.2-7.37-71.7-5.6-14.43-13.08-20.65-25-20C4.32,36.78,4.32,112.05.19,145.94c-.15,1.19.06.13-.19.8,7,.71,14.7,2.78,21-1.17.78-.5.22-.9.37-1.84s-.11-5.81-.09-6.29a113.33,113.33,0,0,1,1.93-15.55,13.11,13.11,0,0,1,.56-2.92c.36-.59.28-.22,1-.47,8.08.85,23.37,1.74,29.79,2s.87.15,4.76.29c.89,13.86,1.82,27.78,3,41.65,7,.05,13.94.14,20.91.12.06-11.23.06-22.95,0-34C83.15,127.42,83.11,126.69,83.14,126.08ZM29.79,98.65c1.87-12.38,0-34.92,14.12-39.42C52.58,56.47,53,64,55.45,72.51c.08.27,2.47,21.49,2.59,24.6C48.74,99.27,39.24,98.54,29.79,98.65Z" />
            <path
                d="M198.84,129.92c-6.69-10.23-17.37-12.07-24.4-1-2,3.19-.36,9.28-3.62,12-3.57,2.92-5.9-1.9-6.87-4.89,4.64-16.27,6.68-32.19,7.5-49.25,0-9.74-.79-25.7-1.81-33.95s.87-12.74-6.24-15c-5.11-1.63-12.12.41-15.06,5.58.41,22.36.3,55.3-3.54,74.48-1.76,8.78-2.61,12.65-4.19,15a11.53,11.53,0,0,1-5.57,5.34,23.76,23.76,0,0,1-6.38,2.54,5.46,5.46,0,0,1-5.25-.4c-2.56-1-4-3-6-4.79a4.33,4.33,0,0,1-1.14-1.58l-.2-.19c-9.41-36.75-4.93-56.8,2.69-92.1.54-2.52-.21-2.87-1.24-3.18-5.3-1.63-11.09-.77-16.07-1.62-3.67-.63-4.64,0-6.93,2.42,0,0,0,0,0,.1s0,0,0,.09c-4.8,32.68-7.76,56.79-4.53,90.12,2.4,9.25,3.81,20.14,11,26.83,9.5,8.84,20.89,9.77,33,9.16,11.28-.57,17.18-7.79,24.12-15.52,4.56,2.8,8.91,5.59,14.51,4.5s8.57-4.88,10.63-9.85c1-2.51.59-5.35,1.49-7.75,1.18-3.12,1.79-3.87,4.43-.7C193.74,141.78,203.31,136.75,198.84,129.92Z" />
        </svg>
    </div>
    <div>
        <form action="#" method="post">

            <div class="container px-5" id="div-login">

                <input type="text" placeholder="Email" name="Email" required>
                <div class="p-3"></div>
                <input type="password" placeholder="Senha" name="Senha" required>
                <div class="p-4"></div>
                <button type="submit">ENTRAR</button>
            </div>
        </form>
    </div>
</div>































<div class="p-5"></div>
<div class="p-5"></div>
<div class="p-3"></div>